.flex {
    display: flex;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.text-center {
	text-align: center;
}

.title {
	@include font (36px, 700, $color-black);
	// font-family: $caladea;
}
.description {
	@include font (vw(14), 400, $color-gray);
	line-height: 36px;
	// font-family: $aileron-regular;
}